{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "airbnb"
    ],
    "rules": {
        "babel/arrow-parens": 0,
        "new-cap": 0
    },
    "root": true
}
